<html>
<head>
    <title>Ana Sayfa</title>
    <link rel="icon" href="../assets/logoicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/Content/bahçe2.jpg);
            background-size: cover;
            padding: 20px;
            text-align: center;
            overflow: hidden;
        }

        #content {
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            color: #fff;
            font-size: 25pt;
        }
    </style>
</head>
<body>


    <div id="content">
        <h1>Okulumuza Hoşgeldiniz</h1>
        <p>Okulumuz hakkında daha fazla bilgi almak için aşağıdaki butona tıklayabilirsiniz</p>
        <div>
            <button type="button" style="color:#fff"><a href="/Temel/Hakkında" style="color:#fff">Daha Fazla Bilgi</a></button>
        </div>
    </div>

</body>
</html>







