<html>
<head>
    <title>Hakkımızda</title>
    <link rel="icon" href="../assets/logoicon.png" type="image/x-icon" />
    <style>
        * {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        body {
            padding: 20px;
            text-align: center;
            height: 100vh;
            background-image: linear-gradient(rgb(128, 128, 128),rgba(0,0,0,0.5)),url(/Content/aboutus.png);
            background-size: cover;
            background-position: center;
        }

        #content {
            text-align: center;
            position: absolute;
            left: 32%;
            top: 20%;
            right: 32%;
            font-size: 15pt;
            color: #ffffff
        }
    </style>

</head>
<body>

    <div id="banner">
        <div id="content">
            <h1>Hakkımızda</h1>
            <p>
                Hoş Geldiniz! Muğla'daki özel okulumuzda öğrencilerimize kaliteli bir eğitim sunmayı amaçlıyoruz. Yılların deneyimi ve uzman kadromuzla, öğrencilerimizin bireysel potansiyellerini keşfetmelerine ve geliştirmelerine yardımcı oluyoruz.
                <br />
                Vizyonumuz, öğrencilerimizin başarılı ve mutlu bireyler olarak yetişmelerini sağlamaktır. Bu nedenle, sadece akademik başarıya odaklanmakla kalmayıp, aynı zamanda karakter gelişimini ve kişisel yetenekleri de önemsiyoruz. Öğrencilerimizin, analitik düşünme, eleştirel düşünme, iletişim becerileri ve yaratıcı düşünme gibi temel yetkinliklerini geliştirmelerine destek oluyoruz.
                <br />
                Okulumuzda, güvenli ve destekleyici bir ortam sunmak için büyük önem veriyoruz. Öğrencilerimizin kendilerini ifade etmelerine ve özgüvenlerini artırmalarına olanak tanıyoruz. Ayrıca, değerlerimize saygı duyan, hoşgörülü ve toplumda aktif rol alan bireyler yetiştirmeyi hedefliyoruz.
                <br />
                Muğla'daki özel okulumuz, geleceğe hazırlanan öğrencilerin güvenli, destekleyici ve ilham verici bir öğrenme ortamında büyümesini sağlamak için var gücüyle çalışmaktadır. İyi bir eğitim almak ve potansiyelinizi keşfetmek için sizi de aramızda görmekten mutluluk duyarız.
                <br />
            </p>

        </div>
    </div>
</body>
</html>






