@model OkulİnternetSitesi.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <style>
        
        #login {
            background-color: #ffffff;
            max-width: 400px;
            margin: 50px auto;
            padding: 30px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            text-align: center;
            color: #007bff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn-info {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

            .btn-info:hover {
                background-color: #0056b3;
            }

        #register-link {
            text-align: right;
        }

            #register-link a {
                color: #007bff;
                text-decoration: none;
            }

                #register-link a:hover {
                    text-decoration: underline;
                }
    </style>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Giriş Formu</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        @ViewBag.Message
                        @using (Html.BeginForm("Login", "Security", FormMethod.Post))
                        {
                            <h3 class="text-center text-info">Giriş Yap</h3>
                            <div class="form-group">
                                Kullanıcı Adı
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                            </div>
                            <div class="form-group">
                                Şifre
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                            </div>
                            <div class="form-group">
                                
                                <button type="submit" name="submit" class="btn btn-info btn-md">Giriş Yap</button>
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="/Users/Create" class="text-info">Kayıt Ol</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
